In [22]:
import pandas as pd

FICHEROS_CSV = [
            'data_dictionary.csv', 'order_details.csv',
            'orders.csv', 'pizza_types.csv', 'pizzas.csv']

In [23]:
i = 1
df = pd.read_csv(FICHEROS_CSV[i], sep=';', encoding='cp1252')

In [24]:
def cambio_nan(nan):
        '''
        Como hay pedido, como poco tiene que haber 1 pizza
        '''
        return nan if isinstance(nan, int) else 1

In [25]:
df['quantity'] = df['quantity'].apply(cambio_nan)
df

       order_details_id  order_id        pizza_id  quantity
0                 21671      9513      cali-ckn-m         1
1                 17259      7591  green garden s         1
2                 19844      8724    the-greek-xl         1
3                 24185     10625             NaN         1
4                 13779      6037      thai_ckn_m         1
...                 ...       ...             ...       ...
48615             31782     14027   classic dlx s         1
48616             24419     10731     the_greek_m         1
48617             31389     13858   classic_dlx_l         1
48618             32757     14481             NaN         1
48619             32405     14321      cali-ckn-l         1

[48620 rows x 4 columns]

In [26]:
df = df.fillna(method='ffill')

In [27]:
from re import sub


def revisar_pizzas(pizza):
    '''
    Comprueba los fallos más comunes a la hora de
    escribir un pedido
    '''
    separadores = ['-', ' ']
    for separador in separadores:
        if separador in pizza:
            pizza = sub(separador, '_', pizza)
    
    if '@' in pizza:
        pizza = sub('@', 'a', pizza)

    if '0' in pizza:
        pizza = sub('0', 'o', pizza)

    return pizza

In [28]:
df['pizza_id'] = df['pizza_id'].apply(revisar_pizzas)

In [29]:
df.iloc[33]

order_details_id            13400
order_id                     5879
pizza_id            ital_cpcllo_l
quantity                        1
Name: 33, dtype: object