In [390]:
import pandas as pd

FICHEROS_CSV = [
            'data_dictionary.csv', 'order_details.csv',
            'orders.csv', 'pizza_types.csv', 'pizzas.csv']

In [391]:
i = 1
df = pd.read_csv(FICHEROS_CSV[i], sep=';', encoding='cp1252')

In [392]:
def cambio_nan(nan):
        '''
        Como hay pedido, como poco tiene que haber 1 pizza
        '''
        try:
                nan = int(nan)
                if nan < 0:
                        nan = -1*nan

                return nan
        except:
                return 1

In [393]:
df['quantity'] = df['quantity'].apply(cambio_nan)
df

       order_details_id  order_id        pizza_id  quantity
0                 21671      9513      cali-ckn-m         1
1                 17259      7591  green garden s         1
2                 19844      8724    the-greek-xl         1
3                 24185     10625             NaN         1
4                 13779      6037      thai_ckn_m         1
...                 ...       ...             ...       ...
48615             31782     14027   classic dlx s         1
48616             24419     10731     the_greek_m         1
48617             31389     13858   classic_dlx_l         1
48618             32757     14481             NaN         1
48619             32405     14321      cali-ckn-l         1

[48620 rows x 4 columns]

In [394]:
df = df.fillna(method='ffill')

In [395]:
from re import sub


def revisar_pizzas(pizza):
    '''
    Comprueba los fallos más comunes a la hora de
    escribir un pedido
    '''
    separadores = ['-', ' ']
    for separador in separadores:
        if separador in pizza:
            pizza = sub(separador, '_', pizza)
    
    if '@' in pizza:
        pizza = sub('@', 'a', pizza)

    if '0' in pizza:
        pizza = sub('0', 'o', pizza)

    if '3' in pizza:
        pizza = sub('3', 'e', pizza)

    return pizza

In [396]:
df['pizza_id'] = df['pizza_id'].apply(revisar_pizzas)

In [397]:
pizzas = []
for pizza in df['pizza_id']:
    if not pizza in pizzas:
        pizzas.append(pizza)

print(len(pizzas))

91

In [398]:
df = pd.read_csv('ingredientes_semana1.csv')
df = df.rename(columns= { 'Unnamed: 0': 'Ingrediente'})
df = df.drop([0, 0], axis=0)

In [399]:
import re
dicc = df.to_dict()
tmp = {}
for clave in dicc['Nº esperado'].keys():
    ingrediente = dicc['Ingrediente'][clave]

    ingrediente = re.sub(' ', '_', ingrediente)
    if ingrediente == '‘Nduja_Salami':
        ingrediente = 'Nduja_Salami'
    tmp[ingrediente] = dicc['Nº esperado'][clave]

In [400]:
tmp

{'Pedidos': 315,
 'Barbecued_Chicken': 32,
 'Red_Peppers': 146,
 'Green_Peppers': 48,
 'Tomatoes': 228,
 'Red_Onions': 166,
 'Barbecue_Sauce': 32,
 'Mozarrella_Cheese': 312,
 'Bacon': 41,
 'Pepperoni': 88,
 'Italian_Sausage': 22,
 'Chorizo_Sausage': 22,
 'Tomato_Sauce': 298,
 'Brie_Carre_Cheese': 5,
 'Prosciutto': 5,
 'Caramelized_Onions': 5,
 'Pears': 5,
 'Thyme': 5,
 'Garlic': 224,
 'Nduja_Salami': 8,
 'Pancetta': 8,
 'Friggitello_Peppers': 8,
 'Chicken': 62,
 'Artichoke': 14,
 'Spinach': 63,
 'Jalapeno_Peppers': 48,
 'Fontina_Cheese': 25,
 'Gouda_Cheese': 14,
 'Mushrooms': 74,
 'Asiago_Cheese': 26,
 'Alfredo_Sauce': 9,
 'Pesto_Sauce': 22,
 'Mozzarella_Cheese': 95,
 'Provolone_Cheese': 18,
 'Smoked_Gouda_Cheese': 18,
 'Romano_Cheese': 18,
 'Blue_Cheese': 18,
 'Ricotta_Cheese': 23,
 'Gorgonzola_Piccante_Cheese': 23,
 'Parmigiano_Reggiano_Cheese': 23,
 'Green_Olives': 56,
 'Feta_Cheese': 40,
 'Sliced_Ham': 20,
 'Pineapple': 40,
 'Capocollo': 65,
 'Goat_Cheese': 36,
 'Oregano': 18,
 'Calabrese_Salami': 22,
 'Eggplant': 14,
 'Artichokes': 50,
 'Zucchini': 22,
 'Kalamata_Olives': 28,
 'Sun-dried_Tomatoes': 16,
 'Plum_Tomatoes': 12,
 'Cilantro': 37,
 'Corn': 37,
 'Chipotle_Sauce': 37,
 'Anchovies': 13,
 'Genoa_Salami': 15,
 'Prosciutto_di_San_Daniele': 15,
 'Arugula': 15,
 'Coarse_Sicilian_Salami': 25,
 'Luganega_Sausage': 25,
 'Onions': 25,
 'Soppressata_Salami': 15,
 'Peperoncini_verdi': 22,
 'Thai_Sweet_Chilli_Sauce': 24,
 'Beef_Chuck_Roast': 14}

In [401]:
df_fechas = pd.read_csv(FICHEROS_CSV[2], sep=';', encoding='cp1252')
#df_fechas = df_fechas.fillna(method='bfill')
df_fechas

       order_id                        date         time
0          8886                 May 29 2016     18:58 PM
1         11424                  2016-07-10     14:36:32
2         19361  Saturday,26 November, 2016     18:42 PM
3          4489                  2016-03-17          NaN
4          6838                         NaN     15:09:12
...         ...                         ...          ...
21345      1989   Tuesday,02 February, 2016  21H 15M 17S
21346      3795                  Mar 5 2016          NaN
21347      6474           19-04-16 16:20:01          NaN
21348     20125                  2016-12-08     18:12 PM
21349      3602           02-03-16 14:43:05  00H 00M 00S

[21350 rows x 3 columns]

In [402]:
def arreglo_fechas(fecha):
    if not isinstance(fecha, str):
        return float('Nan')
    if '.' in fecha:
        return float('Nan')
    
    return pd.Timestamp(fecha).date()

In [403]:
df_fechas['date'] = df_fechas['date'].apply(arreglo_fechas)
df_fechas = df_fechas.fillna(method='bfill')

In [404]:
df_fechas.pop('time')
df_fechas

       order_id        date
0          8886  2016-05-29
1         11424  2016-07-10
2         19361  2016-11-26
3          4489  2016-03-17
4          6838  2016-04-30
...         ...         ...
21345      1989  2016-02-02
21346      3795  2016-03-05
21347      6474  2016-04-19
21348     20125  2016-12-08
21349      3602  2016-02-03

[21350 rows x 2 columns]

In [405]:
df_fechas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  21350 non-null  int64
 1   date      21350 non-null  object
dtypes: int64(1), object(1)
memory usage: 333.7+ KB