In [4]:
import pandas as pd

FICHEROS_CSV = [
            'data_dictionary.csv', 'order_details.csv',
            'orders.csv', 'pizza_types.csv', 'pizzas.csv']

In [5]:
i = 1
df = pd.read_csv(f'./datasets/{FICHEROS_CSV[i]}', sep=';', encoding='cp1252')

In [6]:
def cambio_nan(nan):
        '''
        Como hay pedido, como poco tiene que haber 1 pizza
        '''
        try:
                nan = int(nan)
                if nan < 0:
                        nan = -1*nan

                return nan
        except:
                return 1

In [7]:
df['quantity'] = df['quantity'].apply(cambio_nan)
df

       order_details_id  order_id        pizza_id  quantity
0                 21671      9513      cali-ckn-m         1
1                 17259      7591  green garden s         1
2                 19844      8724    the-greek-xl         1
3                 24185     10625             NaN         1
4                 13779      6037      thai_ckn_m         1
...                 ...       ...             ...       ...
48615             31782     14027   classic dlx s         1
48616             24419     10731     the_greek_m         1
48617             31389     13858   classic_dlx_l         1
48618             32757     14481             NaN         1
48619             32405     14321      cali-ckn-l         1

[48620 rows x 4 columns]

In [8]:
df = df.fillna(method='ffill')

In [9]:
from re import sub


def revisar_pizzas(pizza):
    '''
    Comprueba los fallos más comunes a la hora de
    escribir un pedido
    '''
    separadores = ['-', ' ']
    for separador in separadores:
        if separador in pizza:
            pizza = sub(separador, '_', pizza)
    
    if '@' in pizza:
        pizza = sub('@', 'a', pizza)

    if '0' in pizza:
        pizza = sub('0', 'o', pizza)

    if '3' in pizza:
        pizza = sub('3', 'e', pizza)

    return pizza

In [10]:
df['pizza_id'] = df['pizza_id'].apply(revisar_pizzas)

In [11]:
pizzas = []
for pizza in df['pizza_id']:
    if not pizza in pizzas:
        pizzas.append(pizza)

print(len(pizzas))

91

In [12]:
df = pd.read_csv('./datasets/ingredientes_semana1.csv')
df = df.rename(columns= { 'Unnamed: 0': 'Ingrediente'})
df = df.drop([0, 0], axis=0)

In [13]:
import re
dicc = df.to_dict()
tmp = {}
for clave in dicc['Nº esperado'].keys():
    ingrediente = dicc['Ingrediente'][clave]

    ingrediente = re.sub(' ', '_', ingrediente)
    if ingrediente == '‘Nduja_Salami':
        ingrediente = 'Nduja_Salami'
    tmp[ingrediente] = dicc['Nº esperado'][clave]

In [14]:
tmp

{'Pedidos': 315,
 'Barbecued_Chicken': 32,
 'Red_Peppers': 146,
 'Green_Peppers': 48,
 'Tomatoes': 228,
 'Red_Onions': 166,
 'Barbecue_Sauce': 32,
 'Mozarrella_Cheese': 312,
 'Bacon': 41,
 'Pepperoni': 88,
 'Italian_Sausage': 22,
 'Chorizo_Sausage': 22,
 'Tomato_Sauce': 298,
 'Brie_Carre_Cheese': 5,
 'Prosciutto': 5,
 'Caramelized_Onions': 5,
 'Pears': 5,
 'Thyme': 5,
 'Garlic': 224,
 'Nduja_Salami': 8,
 'Pancetta': 8,
 'Friggitello_Peppers': 8,
 'Chicken': 62,
 'Artichoke': 14,
 'Spinach': 63,
 'Jalapeno_Peppers': 48,
 'Fontina_Cheese': 25,
 'Gouda_Cheese': 14,
 'Mushrooms': 74,
 'Asiago_Cheese': 26,
 'Alfredo_Sauce': 9,
 'Pesto_Sauce': 22,
 'Mozzarella_Cheese': 95,
 'Provolone_Cheese': 18,
 'Smoked_Gouda_Cheese': 18,
 'Romano_Cheese': 18,
 'Blue_Cheese': 18,
 'Ricotta_Cheese': 23,
 'Gorgonzola_Piccante_Cheese': 23,
 'Parmigiano_Reggiano_Cheese': 23,
 'Green_Olives': 56,
 'Feta_Cheese': 40,
 'Sliced_Ham': 20,
 'Pineapple': 40,
 'Capocollo': 65,
 'Goat_Cheese': 36,
 'Oregano': 18,
 'Calabrese_Salami': 22,
 'Eggplant': 14,
 'Artichokes': 50,
 'Zucchini': 22,
 'Kalamata_Olives': 28,
 'Sun-dried_Tomatoes': 16,
 'Plum_Tomatoes': 12,
 'Cilantro': 37,
 'Corn': 37,
 'Chipotle_Sauce': 37,
 'Anchovies': 13,
 'Genoa_Salami': 15,
 'Prosciutto_di_San_Daniele': 15,
 'Arugula': 15,
 'Coarse_Sicilian_Salami': 25,
 'Luganega_Sausage': 25,
 'Onions': 25,
 'Soppressata_Salami': 15,
 'Peperoncini_verdi': 22,
 'Thai_Sweet_Chilli_Sauce': 24,
 'Beef_Chuck_Roast': 14}

In [15]:
df_fechas = pd.read_csv(f'./datasets/{FICHEROS_CSV[2]}', sep=';', encoding='cp1252')
#df_fechas = df_fechas.fillna(method='bfill')
df_fechas

       order_id                        date         time
0          8886                 May 29 2016     18:58 PM
1         11424                  2016-07-10     14:36:32
2         19361  Saturday,26 November, 2016     18:42 PM
3          4489                  2016-03-17          NaN
4          6838                         NaN     15:09:12
...         ...                         ...          ...
21345      1989   Tuesday,02 February, 2016  21H 15M 17S
21346      3795                  Mar 5 2016          NaN
21347      6474           19-04-16 16:20:01          NaN
21348     20125                  2016-12-08     18:12 PM
21349      3602           02-03-16 14:43:05  00H 00M 00S

[21350 rows x 3 columns]

In [16]:
def arreglo_fechas(fecha):
    if not isinstance(fecha, str):
        return float('Nan')
    if '.' in fecha:
        return float('Nan')
    
    return pd.Timestamp(fecha).date()

In [17]:
df_fechas['date'] = df_fechas['date'].apply(arreglo_fechas)
df_fechas = df_fechas.fillna(method='bfill')

In [18]:
df_fechas.pop('time')
df_fechas

       order_id        date
0          8886  2016-05-29
1         11424  2016-07-10
2         19361  2016-11-26
3          4489  2016-03-17
4          6838  2016-04-30
...         ...         ...
21345      1989  2016-02-02
21346      3795  2016-03-05
21347      6474  2016-04-19
21348     20125  2016-12-08
21349      3602  2016-02-03

[21350 rows x 2 columns]

In [19]:
import chart_studio.plotly as py
import plotly.graph_objects as go

In [20]:
import plotly
data = {'data': [{'y': [4, 2, 3, 4]}],
            'layout': {'title': 'Test Plot',
                       'font': dict(size=16)}}

# plotly.io.write_image(fig=data,file="prueba.png", format="png",scale=None, width=None, height=None)

In [31]:
import pandas as pd
import plotly.graph_objects as go

df_sem1 = pd.read_csv('./datasets/ingredientes_semana1.csv')
for value in df_sem1.to_dict().values():
    print(value)

{0: 'Unnamed: 0', 1: 'Pedidos', 2: 'Barbecued Chicken', 3: 'Red Peppers', 4: 'Green Peppers', 5: 'Tomatoes', 6: 'Red Onions', 7: 'Barbecue Sauce', 8: 'Mozarrella Cheese', 9: 'Bacon', 10: 'Pepperoni', 11: 'Italian Sausage', 12: 'Chorizo Sausage', 13: 'Tomato Sauce', 14: 'Brie Carre Cheese', 15: 'Prosciutto', 16: 'Caramelized Onions', 17: 'Pears', 18: 'Thyme', 19: 'Garlic', 20: '‘Nduja Salami', 21: 'Pancetta', 22: 'Friggitello Peppers', 23: 'Chicken', 24: 'Artichoke', 25: 'Spinach', 26: 'Jalapeno Peppers', 27: 'Fontina Cheese', 28: 'Gouda Cheese', 29: 'Mushrooms', 30: 'Asiago Cheese', 31: 'Alfredo Sauce', 32: 'Pesto Sauce', 33: 'Mozzarella Cheese', 34: 'Provolone Cheese', 35: 'Smoked Gouda Cheese', 36: 'Romano Cheese', 37: 'Blue Cheese', 38: 'Ricotta Cheese', 39: 'Gorgonzola Piccante Cheese', 40: 'Parmigiano Reggiano Cheese', 41: 'Green Olives', 42: 'Feta Cheese', 43: 'Sliced Ham', 44: 'Pineapple', 45: 'Capocollo', 46: 'Goat Cheese', 47: 'Oregano', 48: 'Calabrese Salami', 49: 'Eggplant', 50: 'Artichokes', 51: 'Zucchini', 52: 'Kalamata Olives', 53: 'Sun-dried Tomatoes', 54: 'Plum Tomatoes', 55: 'Cilantro', 56: 'Corn', 57: 'Chipotle Sauce', 58: 'Anchovies', 59: 'Genoa Salami', 60: 'Prosciutto di San Daniele', 61: 'Arugula', 62: 'Coarse Sicilian Salami', 63: 'Luganega Sausage', 64: 'Onions', 65: 'Soppressata Salami', 66: 'Peperoncini verdi', 67: 'Thai Sweet Chilli Sauce', 68: 'Beef Chuck Roast'}
{0: 86, 1: 315, 2: 32, 3: 146, 4: 48, 5: 228, 6: 166, 7: 32, 8: 312, 9: 41, 10: 88, 11: 22, 12: 22, 13: 298, 14: 5, 15: 5, 16: 5, 17: 5, 18: 5, 19: 224, 20: 8, 21: 8, 22: 8, 23: 62, 24: 14, 25: 63, 26: 48, 27: 25, 28: 14, 29: 74, 30: 26, 31: 9, 32: 22, 33: 95, 34: 18, 35: 18, 36: 18, 37: 18, 38: 23, 39: 23, 40: 23, 41: 56, 42: 40, 43: 20, 44: 40, 45: 65, 46: 36, 47: 18, 48: 22, 49: 14, 50: 50, 51: 22, 52: 28, 53: 16, 54: 12, 55: 37, 56: 37, 57: 37, 58: 13, 59: 15, 60: 15, 61: 15, 62: 25, 63: 25, 64: 25, 65: 15, 66: 22, 67: 24, 68: 14}

In [32]:
dicc_sem = df_sem1.to_dict()

ingredientes = []
cantidades = []
i = 0
for value in dicc_sem.values():
    if not i:
        for value2 in value.values():
            i += 1
            if i > 1:
                ingredientes.append(value2)
    
    else:
        for value2 in value.values():
            cantidades.append(value2)

cantidades.pop(0)

fig = go.Figure()
fig.add_trace(go.Bar(x=ingredientes, y=cantidades, marker=dict(color = 'red')))
fig.write_image("imagenes/pruebas.png")

In [16]:
import os
import requests
import plotly.graph_objects as go
contador = False
for file in os.scandir('./'):
    if file.name == 'imagenes' and not contador:
        contador = True
logo = False

for imagen in os.scandir('./imagenes/'):
    if imagen.name == 'logo.png' and not logo:
        logo = True

if not contador:
    os.mkdir('imagenes')

if not logo:
    imagen = requests.get('https://img1.wsimg.com/isteam/ip/5a78177b-0605-4ae4-9d2a-c96dfa5cccbd/logo/9609391e-6d81-4d26-8a42-0d9aa201a919.jpg/:/rs=h:160/qt=q:95.png')
    code = open('./imagenes/logo.png', 'wb')
    code.write(imagen.content)

ingredientes = [ing for ing in tmp.keys()]
cantidades = [valor for valor in tmp.values()]
data = {'data': [{'x': ingredientes, 'y': cantidades}],
            'layout': {'title': 'Ingredientes empleados',
                       'font': dict(size=16)}}
plotly.io.write_image(fig=data,file="prueba.png", format="png",scale=None, width=1920, height=768)

NameError: name 'tmp' is not defined

In [25]:
x = ingredientes
y = cantidades

fig = go.Figure()
fig.add_trace(go.Bar(x=x,y=y,))
fig.write_image("imagenes/ingredientes.png")

In [42]:
df_sem1 = pd.read_csv('./datasets/csv_procesado_semana1.csv')
dicc_sem1 = df_sem1[['pizza_type_id', 'Pedidos']].to_dict()

pizzas = []
pedidos = []

for i in range(len(dicc_sem1['Pedidos']) - 1):

    pizzas.append(dicc_sem1['pizza_type_id'][i])
    cantidades.append(dicc_sem1['Pedidos'][i])


fig = go.Figure()
fig.add_trace(go.Bar(x=pizzas,y=cantidades,))
fig.write_image("imagenes/tipo_pedidos.png")

In [67]:
maximo = [0]*5
mayores = [0]*5

minimo = [10000]*5
menores = [0]*5


for i in range(len(dicc_sem1['Pedidos']) - 1):

    cantidad = dicc_sem1['Pedidos'][i]
    pizza = dicc_sem1['pizza_type_id'][i]
    
    for max in range(5):

        if maximo[max] < cantidad and pizza not in mayores:

            maximo[max] = cantidad
            mayores[max] = pizza

    
    for min in range(5):

        if minimo[min] > cantidad and pizza not in menores:

            minimo[min] = cantidad
            menores[min] = pizza

z1 = [max for max in maximo]
z2 = [min for min in minimo]

customscale=[[0, "rgb(128, 64, 0)"],
            [0.1, "rgb(205, 127, 50)"],
            [0.25, "rgb (128,128,128)"],
            [1.0, "rgb(255, 215, 0)"]]

fig = go.Figure()
fig.add_trace(go.Bar(x=mayores,y=maximo, marker=dict(color = z1, colorscale=customscale)))
fig.write_image("imagenes/mejores_pizzas.png")

fig = go.Figure()
fig.add_trace(go.Bar(x=menores,y=minimo, marker=dict(color = z2, colorscale=customscale)))
fig.write_image("imagenes/peores_pizzas.png")

In [2]:
dicc = {'Fichero_1': {'Nombre_fichero': 'data_dictionary.csv', 'Contenidos': {'Table': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}, 'Field': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}, 'Description': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}}}, 'Fichero_2': {'Nombre_fichero': 'order_details.csv', 'Contenidos': {'order_details_id': {'Tipo_dato': 'int64', 'Valores_Null_Nan': '0'}, 'order_id': {'Tipo_dato': 'int64', 'Valores_Null_Nan': '0'}, 'pizza_id': {'Tipo_dato': 'object', 'Valores_Null_Nan': '5673'}, 'quantity': {'Tipo_dato': 'object', 'Valores_Null_Nan': '4726'}}}, 'Fichero_3': {'Nombre_fichero': 'orders.csv', 'Contenidos': {'order_id': {'Tipo_dato': 'int64', 'Valores_Null_Nan': '0'}, 'date': {'Tipo_dato': 'object', 'Valores_Null_Nan': '2353'}, 'time': {'Tipo_dato': 'object', 'Valores_Null_Nan': '2038'}}}, 'Fichero_4': {'Nombre_fichero': 'pizza_types.csv', 'Contenidos': {'pizza_type_id': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}, 'name': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}, 'category': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}, 'ingredients': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}}}, 'Fichero_5': {'Nombre_fichero': 'pizzas.csv', 'Contenidos': {'pizza_id': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}, 'pizza_type_id': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}, 'size': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}, 'price': {'Tipo_dato': 'float64', 'Valores_Null_Nan': '0'}}}}
dicc

{'Fichero_1': {'Nombre_fichero': 'data_dictionary.csv',
  'Contenidos': {'Table': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'},
   'Field': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'},
   'Description': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}}},
 'Fichero_2': {'Nombre_fichero': 'order_details.csv',
  'Contenidos': {'order_details_id': {'Tipo_dato': 'int64',
    'Valores_Null_Nan': '0'},
   'order_id': {'Tipo_dato': 'int64', 'Valores_Null_Nan': '0'},
   'pizza_id': {'Tipo_dato': 'object', 'Valores_Null_Nan': '5673'},
   'quantity': {'Tipo_dato': 'object', 'Valores_Null_Nan': '4726'}}},
 'Fichero_3': {'Nombre_fichero': 'orders.csv',
  'Contenidos': {'order_id': {'Tipo_dato': 'int64', 'Valores_Null_Nan': '0'},
   'date': {'Tipo_dato': 'object', 'Valores_Null_Nan': '2353'},
   'time': {'Tipo_dato': 'object', 'Valores_Null_Nan': '2038'}}},
 'Fichero_4': {'Nombre_fichero': 'pizza_types.csv',
  'Contenidos': {'pizza_type_id': {'Tipo_dato': 'object',
    'Valores_Null_Nan': '0'},
   'name': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'},
   'category': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'},
   'ingredients': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'}}},
 'Fichero_5': {'Nombre_fichero': 'pizzas.csv',
  'Contenidos': {'pizza_id': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'},
   'pizza_type_id': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'},
   'size': {'Tipo_dato': 'object', 'Valores_Null_Nan': '0'},
   'price': {'Tipo_dato': 'float64', 'Valores_Null_Nan': '0'}}}}

In [89]:
ficheros = []
valores = []
for value in dicc.values():
    valor = 0
    for value2 in value['Contenidos'].values():
        valor += int(value2['Valores_Null_Nan'])

    ficheros.append(value['Nombre_fichero'])
    valores.append(valor)

fig = go.Figure()
fig.add_trace(go.Bar(x=ficheros,y=valores,marker=dict(color = 'red')))
fig.write_image("imagenes/analisis_datos.png")